MATRIX_SERVER=https://matrix.greact.online
MATRIX_SPACE_ID=!qU0FXr5o6j2NVgjXpU:matrix.greact.online
REGISTRATION_TOKEN=your-synapse-registration-token
ADMIN_SECRET=your-secret-for-this-ui
PORT=3000
